* {
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    color: #333;
    box-sizing: border-box;
}

html {
    @media screen and (max-width: 575.98px) {
        font-size: 14.8px; /*redmi note 11 pro 5G*/
    }

    @media screen and (min-width: 576px) and (max-width: 767.98px) {
        font-size: 14px;
    }

    @media screen and (min-width: 768px) {
        font-size: 16px;
    }

    @media screen and (min-width: 1000px) {
        font-size: 19px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 22px; /*notebook*/
    }

    @media screen and (min-width: 1800px) {
        font-size: 32px; /*tela grande*/
    }


}

.preenchimento {
    max-width: 25rem;
    height: 27rem;
    margin: 0.9rem auto;
    background-color: #daecf6;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid black;
}

.preenchimento header {
   /* display: flex;*/
    text-align: center;
    padding: 0 0.2rem 0.2rem;
    border-bottom: 0.15rem solid #ccc;
}

.preenchimento header img {
    width: 4.4rem;
    height: 2.4rem;
}

.preenchimento p {
    font-size: 0.5rem;
    font-weight: bold;
    margin-top: 0;
}

.resposta {
    max-width: 25rem;
    height: 27rem;
    margin: 0.9rem auto;
    /*background-color: #fdfdfd;*/
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid black;
    display: none;
}

/*
.resposta {
    max-width: 20rem;
    height: 26rem;
    margin: 2rem auto;
    background-color: #fdfdfd;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid black;
    display: none;
}
*/

.resposta header {
    text-align: center;
    /*color: white;*/
    padding: 0 0.5rem 0.5rem;
    border-bottom: 0.15rem solid #ccc;
}

.resposta h2 {
    color: white;
}

/*
.resposta header {
    text-align: center;
    padding: 0 0.7rem 0.7rem;
    border-bottom: 0.1rem solid #ccc;
}
*/

.resposta p {
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
    margin-bottom: 0.2rem;
}

/* .resposta input {
    margin-bottom: 0.1rem;
    margin-top: 0.1rem;
} */

.preenchimento p {
    text-align: center;
}

.form-control {
    height: 12rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* .hide {
    display: none;
} */

.form-control input {
    padding: 0.4rem;
    width: 10rem;
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 0.7rem;
    border-radius: 0.3rem;
}

.form-controla {
    /* height: 25rem; */
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* .hide {
    display: none;
} */

.form-controla input {
    padding: 0.2rem;
    width: 8rem;
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
    border-radius: 0.3rem;
}

button {
    background-color: #fdfdfd;
    color: #102f5e;
    border: 2px solid #102f5e;
    border-radius: 0.5rem;
    padding: 0.3rem 0.6rem;
    /*REM utiliza a fonte do HTML como medida de referência*/
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    margin-top: 0.8rem;
    margin-bottom: 0.3rem;
}

button:hover {
    background-color: #102f5e;
    color: #fff;
    font-weight: bold;
}

