* {
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    color: #333;
    box-sizing: border-box;
}

html {
    @media screen and (min-width: 100px) and (max-width: 350px) {
        font-size: 10px;
    }

    @media screen and (min-width: 351px) and (max-width: 575.98px) {
        font-size: 14.8px;
        /*redmi note 11 pro 5G*/
    }

    @media screen and (min-width: 576px) and (max-width: 767.98px) {
        font-size: 14px;
    }

    @media screen and (min-width: 768px) {
        font-size: 16px;
    }

    @media screen and (min-width: 1000px) {
        font-size: 19px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 22px;
        /*notebook*/
    }

    @media screen and (min-width: 1800px) {
        font-size: 32px;
        /*tela grande*/
    }
}

.formulario_principal {
    max-width: 25rem;
    height: 28rem;
    margin: 0.9rem auto;
    background-color: #daecf6;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid black;
}

.formulario_principal header {
    text-align: center;
    padding: 0 0.2rem 0.2rem;
    border-bottom: 0.15rem solid #ccc;
}

.formulario_principal header img {
    width: 4.4rem;
    height: 2.4rem;
}

.formulario_principal p {
    font-size: 0.7rem;
    font-weight: bold;
    text-align: center;
}

.formulario_principal input {
    padding: 0.2rem;
    width: 8rem;
    text-align: center;
    font-size: 0.8rem;
    border-radius: 0.3rem;
}

.preencher_formulario {
    height: 12rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.preencher_formulario input {
    padding: 0.3rem;
    width: 10rem;
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 0.7rem;
    border-radius: 0.3rem;
}

.resposta {
    background-color: #daecf6;
    max-width: 25rem;
    height: 28rem;
    margin: 0.9rem auto;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid black;
    display: none;
}

.resposta header img {
    width: 4rem;
    height: 2rem;
}

.resposta header {
    text-align: center;
    padding: 0 0.05rem 0.05rem;
    border-bottom: 0.15rem solid #ccc;
}

.resposta p {
    font-size: 0.7rem;
    font-weight: bold;
    color: #333;
}

.formulario_resposta input {
    padding: 0.2rem;
    width: 9rem;
    text-align: center;
    font-size: 0.7rem;
    margin-top: 0.2rem;
    margin-bottom: 0.3rem;
    border-radius: 0.3rem;
}

.formulario_resposta {
    margin-top: 0.15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: #fdfdfd;
    color: #102f5e;
    border: 2px solid #102f5e;
    border-radius: 0.5rem;
    padding: 0.2rem 0.6rem;
    /*REM utiliza a fonte do HTML como medida de referência*/
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    margin-top: 0.25rem;
}

button:hover {
    background-color: #102f5e;
    color: #fff;
    font-weight: bold;
}

.inform {
    text-align: center;
}

#alertaFundo {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

/* Estilos para a caixa de alerta */
#alertaBox {
    display: grid;
    background-color: white;
    width: 16rem;
	height: 10rem;
    padding: 20px;
    margin: 100px auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1001;
	align-items: center; /* Centraliza horizontalmente o conteúdo do box */
    justify-content: center; /* Centraliza verticalmente o conteúdo do box */
	
}

/* Estilo para o título da caixa de alerta */
#alertaTitulo {
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 0.6rem;
    text-align: center;
}

#alertaMensagem{
    text-align: center;
	font-size: 0.8rem;
}

/* Estilo para o botão de fechar */
#alertaFechar {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 1rem;
    margin-top: 0.6rem;
    cursor: pointer;
    border-radius: 5px;
}
